# HA-files that I don't want to sync
home-assistant_v2.db*
secrets.yaml
secrets.git
.cloud/
.storage/
deps/
python_scripts/
tts/
www/**/*
!www/community
!www/community/gramatus
!www/community/gramatus/**/*.*
.HA_VERSION
.ha_run.lock
harmony*.conf
*.log
*.log.1
*.log.old
*.log.fault
custom_components/hacs
custom_components/pyscript/*
custom_components/mass
#custom_components/pyscript/*
#!custom_components/pyscript/hue_test.py

# Cache-files from python
__pycache__/

# VS Code default stuff
*.code-workspace

# Local folders I don't want to sync
backup/
backup-test/
backup-move/
notes/downloaded/
.cache/
